@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: rgba(252, 199, 243, 0.927);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(154, 41, 154);
}
.container .left_Side
{
    position: relative;
    background: rgb(132, 29, 132);
    padding: 40px;
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(194, 133, 184, 0.927);
}
.profileText .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    object-fit: cover;
}
.profileText h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo
{
   padding-top: 40px; 
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(46, 5, 46);
}
.contactInfo ul li span
{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.contactInfo ul li span a
{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.contactInfo.education li
{
    margin-bottom: 15px;
}
.contactInfo.education h5
{
    color: rgb(46, 5, 46);
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2)
{
    color: #fff;
    font-weight: 400;
}
.contactInfo.education h4
{
    color: #fff;
    font-weight: 400;
}
.contactInfo.language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: black;
    display: block;
    margin-top: 5px;
}
.contactInfo.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(194, 133, 184, 0.927);
}

.container .right_Side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about
{
    margin-bottom: 50px;
}

.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #6c176c;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: rgb(154, 41, 154);
    font-size: 14px;
    font-weight: 500;
}
.about .box
{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.about .box .year_company
{
    min-width: 150px;
}
.about .box .year_company h5
{
    color: rgb(102, 1, 102);
    font-size: 14px;
    font-weight: 600;
}
.about .box .text h4
{
    color: rgb(154, 41, 154);;
    font-size: 16px;
    font-weight: 600;
}
.skills .box
{
   position: relative;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-content: center;
   align-items: center;
}
.skills .box h4
{
    color: rgb(154, 41, 154);
    font-weight: 500;
}
.interest ul
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.interest ul li
{
    list-style: none;
    color: rgb(154, 41, 154);
    font-weight: 500;
    margin: 10px 0;
}
.interest ul li .fa
{
    color: rgb(102, 1, 102);
    font-size: 18px;
    width: 20px;
}