@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: rgba(252, 199, 243, 0.927);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(154, 41, 154);
}
.container .left_Side
{
    position: relative;
    background: rgb(146, 80, 146);
    padding: 40px;
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(194, 133, 184, 0.927);
}
.profileText .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    object-fit: cover;
}
.profileText h2
{
    color: #290122;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo
{
   padding-top: 40px; 
}
.contactInfo h3
{
    color: #290122;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #290122;
}
.contactInfo ul li span
{
    color: #290122;
    font-size: 14px;
    font-weight: 500;
}
.contactInfo ul li span a
{
    color: #290122;
    font-size: 14px;
    font-weight: 500;
}
.contactInfo.technicalSkills .title h3
{
    color: #290122;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.contactInfo.technicalSkills .box h4
{
    margin-bottom: 10px;
    color: #290122;
    text-transform: none;
    font-size: 14px;
    font-weight: 500;
}
.contactInfo.language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #290122;
    display: block;
    margin-top: 5px;
}
.contactInfo.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(218, 157, 208, 0.927);
}

.container .right_Side
{
    position:relative;
    background:  #fff;
    padding: 40px;
}
.about
{
    margin-bottom: 50px;
}

.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #290122;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: rgb(154, 41, 154);
    font-size: 14px;
    font-weight: 500;
}
.about .box
{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.about .box .year_company
{
    min-width: 150px;
}
.about .box .year_company h5
{
    color: #290122;
    font-size: 14px;
    font-weight: 600;
}
.about .box .text h4
{
    color: rgb(154, 41, 154);;
    font-size: 16px;
    font-weight: 600;
}
.about .box .box h4
{
    color: rgb(154, 41, 154);
    font-size: 12px;
    font-weight: 500;
}
.about .education
{
    color: #290122;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.about .education h5
{
    color: #290122;
    font-size: 14px;
    font-weight: 600;
}
.about .education h4:nth-child(2)
{
    color: rgb(154, 41, 154);;
    font-size: 16px;
    font-weight: 600;
}
.about .education h4
{
    color: rgb(154, 41, 154);
    text-transform: none;
    font-size: 16px;
    font-weight: 600;
}
.about .courses
{
    color: #290122;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.about .courses h5
{
    color: #290122;
    font-size: 14px;
    font-weight: 600;
}
.about .courses h4:nth-child(2)
{
    color: rgb(154, 41, 154);
    text-transform: none;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .courses h4
{
    color: rgb(154, 41, 154);
    text-transform: none;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}
